  <!-- Header -->
<app-header></app-header>
<div class="container py-3" style="padding-top: 80px;">
<div style="margin-top:16%;">
<input
  class="form-control mb-2"
  placeholder="Instagram Reel URL"
  [(ngModel)]="reelUrl" #reelUrlInput
  [disabled]="isReelUrlDisabled"
/>

<input
  class="form-control mb-2"
  placeholder="Title"
  [(ngModel)]="title"
   maxlength="30"
/>

<input
  class="form-control mb-3"
  placeholder="Hashtags (comma separated)"
  [(ngModel)]="hashtags"
   maxlength="30"
/>

<button class="btn btn-primary w-100" (click)="save()">
  Save
</button>
</div>
</div>
<app-bottom-nav></app-bottom-nav>