<div class="container py-3" style="padding-top: 80px;">

  <!-- Header -->
<app-header></app-header>
<div style="margin-top:14%;">
<h4 class="mb-3">Profile</h4>

<div class="ig-card p-3 mb-3">
  <div>Total Reels: <strong>{{ total }}</strong></div>
  <div>Favorites: <strong>{{ favorites }}</strong></div>
</div>

<div class="ig-card p-3">
  <h6>Hashtags</h6>
  <div *ngFor="let h of hashtagStats" class="d-flex justify-content-between">
    <span (click)="openHashtag(h.name)">#{{ h.name }} </span>
    <span>{{ h.count }}</span>
  </div>
</div>
<!--<div class="ig-card p-3">
  <h6>Data Migration</h6>
  <div  class="d-flex justify-content-between">
    <span><button class="btn btn-sm btn-primary" (click)="migrateData()">Migrate</button></span>
  </div>
</div>
</div>-->
<br/>
<br/>
<app-bottom-nav active="profile"></app-bottom-nav>
</div>
