<div class="container py-3" style="padding-top: 80px;">

  <!-- Header -->
    <app-header></app-header>
<div style="margin-top: 25%;">
  <!-- Search box -->
  <style>
    #search::placeholder {
      color: #bbb;
      font-style: italic;
    }
  </style>
  <div style="background-color: black;"><input
    #SearchText
    id="search"
    name="search"
    class="form-control mb-3 bg-dark text-light border-0"
    style="position: fixed; top: 8%; left: 3px; right: 15px; width: calc(100% - 11px); z-index: 999;"
    placeholder="search reel or #hashtag.."
    (input)="search(SearchText.value)"
  /></div>

  <!-- Reel list -->
  <div style="padding-top: 120px;" *ngFor="let r of results"
       class="ig-card p-3 mb-2"
       (touchstart)="startSwipe($event, r)"
       (touchend)="endSwipe($event, r)">

    <div class="d-flex justify-content-between align-items-start" (click)="open(r)">

      <!-- Title & hashtags -->
      <div>
        <div class="fw-semibold">{{ r.title }}</div>
        <div class="ig-muted small">
          #{{ r.hashtags.join(' #') }}
        </div>
      </div>

      <!-- Favorite -->
      <button
        class="btn btn-sm"
        (click)="toggleFavorite(r); $event.stopPropagation()">
        {{ r.favorite ? '⭐' : '☆' }}
      </button>

    </div>
  </div>

</div>
</div>
<br/>
<br/>
<!-- Bottom Nav -->
<app-bottom-nav active="search"></app-bottom-nav>
