<app-header (reel)="search($event)"></app-header>
<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white rounded-4">

      <div class="modal-header border-0">
        <h5 class="modal-title">Remove</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body text-center">
        Are you sure you want to remove this reel?
      </div>

      <div class="modal-footer border-0">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-danger" (click)="confirmDelete()">Remove</button>
      </div>

    </div>
  </div>
</div>
<div class="container py-3" style="padding-top: 80px;">
  <!-- Header -->
<div style="margin-top: 14%;">
  <!-- Reel list -->
  <div style="padding-top: 120px;" *ngFor="let r of resultsData"
       class="ig-card p-3 mb-2"
       (touchstart)="startSwipe($event, r)"
       (touchend)="endSwipe($event, r)">

    <div class="container-fill" >
      <!-- Title & hashtags -->
      <div class="row" (click)="open(r)">
        <div class="col-9">
        <div class="fw-semibold">{{ r.title }}</div>
        <div class="ig-muted small">
          #{{ r.hashtags.join(' #') }}
        </div>
        </div>
      <!--edit-->
      <div class="col-3">
          <div class="row">
            <div class="col-1 d-flex">
            <button
              class="btn btn-sm edit"
              (click)="editThisReel(r.id); $event.stopPropagation()" >✏️
            </button>
            <!-- Favorite -->
            <div class="col-1">
            <button
              class="btn btn-sm star"
              (click)="toggleFavorite(r); $event.stopPropagation()">
              {{ r.favorite ? '⭐' : '☆' }}
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<br/>
<br/>
<!-- Bottom Nav -->
<app-bottom-nav active="search"></app-bottom-nav>
